<div class="sesion">
	<h5>"Super Proyecto para aprobar el curso"</h5>

	<div class='seleccion'>
		<%= button_to new_user_session_path, class: 'btn btn-border-radius-small' do %>
        Ingresa Aqui
        <span class="icon-add-user" aria-hidden="true"></span>
        <% end %>

	</div>
</div>
